@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;

}


a {
  text-decoration: none !important;
}

.mt-top {
  margin-top: 75px;
}

.m-h-100 {
  min-height: 100vh;
}


.m-h-75 {
  min-height: 75vh;
}

.m-h-50 {
  min-height: 50vh;
}

.c-clr {
  color: #ea002a;
}

.common-space {
  padding: 80px;
}

.logo-text {
  color: #ea002a;

  display: flex;
  align-items: center;


}

.logo-text div {
  transform: rotate(90deg);
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0px;
  font-family: "DynaPuff", system-ui;
}

.logo-text span {
  color: #000 !important;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 0px;
  font-family: "DynaPuff", system-ui;
}

.navbar-logo {
  display: flex;
  align-items: center;
}


.navbarr {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 #00000008;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  padding: 0 55px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.sidebar-open-btn {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #ea002a;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

#sidemenu {
  align-items: flex-start;
  background-color: #f1f3f6;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 75px;
  position: fixed;
  left: -272px;
  top: 0;
  transition: .3s;
  width: 272px;
  box-shadow: 0 4px 4px 0 #000000;

}

.active-sidebar-menu {
  left: 0px !important;
}

.nav-linkk {
  width: 100%;
  color: #000;
  padding: 5px 20px;
  font-size: 20px;
  transition: 0.5s ease;
}

.nav-linkk:hover {
  background-color: gray;
}

.nav-right {
  display: flex;
  align-items: center;
}

.acc-circle {
  background-color: #ea002a;
  border-radius: 100px;
  color: #fff;
  font-size: 20px;
  width: 45px;
  height: 45px;
}

.custom-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px #0000001a;
  list-style: none;
  margin: 0;
  min-width: 150px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 100%;
  z-index: 999;
  transition: 0.5s ease;

}

.custom-dropdown-item {
  width: 100%;
  color: #000;
  padding: 8px 10px;
  font-size: 20px;
  transition: 0.5s ease;
}

.cart-btn {
  font-size: 30px;
  margin-right: 25px;
  position: relative;
}

.cart-number {
  position: absolute;
  top: -10%;
  right: 0%;
  font-weight: bold;
  font-size: 18px;

}

.login-btn {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  min-width: 64px;
  color: rgb(255, 255, 255);
  background-color: #ea002a;
  padding: 6px 16px;
  border-radius: 4px;
}

/* explore menu  */
.carousel-img {
  height: 470px;
  object-fit: cover;
}

.explore-menu-main {
  background-color: #f1f3f6;
  padding: 55px;

}

.common-menu-title {
  color: #000;
  font-weight: 900;
  font-family: "Arima", system-ui;
  font-size: 35px;
}

.explore-card-main {
  background-color: #fff;
  border-radius: 1% 50% 3% 50%;
  cursor: pointer;
  display: flex;
  height: 220px;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  transition: all .4s;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  transition: 0.5s ease;
}

.explore-card-main:hover {
  border-radius: 50% 2% 50% 2%;

}

.explore-card-main img {
  display: block;
  border-radius: 10px;
  transition: all .3s;
  width: 90%;

}

.explore-card-main-text {
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.swiper-free-mode>.swiper-wrapper {
  margin: 0 auto 80px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px !important;
  color: #ea002a !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-prev::after,
:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next::after {
  display: none;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-next {
  inset-inline-end: 21px;
}

.best-sold-card {
  align-items: end;
  margin: 0 15px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  height: 370px;
  padding-bottom: 10px;
  position: relative;
}

.best-sold-card-text {
  color: #000;
  cursor: pointer;
  font-size: 26px;
  left: 18px;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  font-weight: bold;
}

.rs {
  font-size: 15px !important;
}

.best-sold-card-price {
  letter-spacing: -3px;
  font-size: 26px;
  background-color: #ea002a !important;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  padding: 4px 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 80px;
  vertical-align: initial;
  white-space: nowrap;
  width: 100px;
}

.best-sold-card-price::before {

  border-bottom: 16px solid #0000;
  border-left: 8px solid #0000;
  border-right: 8px solid;
  border-top: 14px solid #0000;
  content: "";
  display: inline-block;
  left: 0px;
  position: absolute;
  top: 0;
  transform: rotate(179deg);
}

.best-sold-card img {
  border-radius: 10px 10px 0 10px;
  cursor: pointer;
  width: 90%;
  margin: 0px auto;
}

.top-deals-main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.top-deal-card {
  width: 24%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-deal-card-title {
  font-size: 22px;
  font-weight: 700;
  margin: 2px 0px;
}

.top-deal-card-text {
  margin-bottom: 0px;
}

.top-deal-card-img {
  margin-top: 40px;
  width: 100%;
  border-radius: 5px;
  height: 160px;
  margin-bottom: 5px;
}

.fav-btn {
  border: none;
  color: #ea002a;
  font-size: 25px;
  background: none;
  position: absolute;
  top: 6px;
  right: 6px;
}

/* footer  */

.ftr {
  background-color: #f1f3f6;

}

.ftr-text {
  font-size: 18px;
  color: #000;
}

.ftr-sub {
  display: flex;
  flex-direction: column;
}

.ftr-small-title {
  color: #ea002a;
  font-size: 27px;
  font-weight: bold;
}

.ftr-link {
  color: #000;
  padding: 5px 0px;
  font-size: 20px;
  transition: 0.5s ease;
}

.ftr-link:hover {
  color: #ea002a;
}

@media only screen and (max-width: 1012px) {
  .top-deals-main {
    flex-wrap: wrap;
  }

  .top-deal-card {
    width: 32%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 885px) {


  .top-deal-card {
    width: 49%;

  }
}

@media only screen and (max-width: 600px) {

  .explore-menu-main {
    padding: 20px;
  }

  .top-deal-card {
    width: 100%;

  }
}